$box-shadow-none: none !important;
$primary-box-shadow: 0 2px 6px rgb(0 0 0 / 20%) !important;
$hover-box-shadow: 0 3px 10px rgb(0 0 0 / 20%) !important;
$secondary-card-box-shadow: 0 2px 5px rgb(0 0 0 / 10%) !important;
$card-box-shadow:
  inset 0.5px 0.5px 1px rgb(0 0 0 / 10%),
  2px 2px 4px rgb(0 0 0 / 10%) !important;
