/* Font family */
$font-nunito-sans-serif: 'Nunito', sans-serif;
$font-inter-sans-serif: 'Inter', sans-serif;

/* Font size */
$font-size-xxl: 3.75rem; /*   60px   */
$font-size-xl: 3rem; /*   48px   */
$font-size-lg: 2rem; /*   32px   */
$font-size-md: 1.45rem; /*   24px   */
$font-size-sm: 0.9rem; /*  14.4px  */
$font-size-xs: 0.8rem; /*  12px  */
