html {
  scroll-behavior: smooth;
}

body {
  background: $bg-dark-green-color;
  margin: 0;

  &:has(
      #about,
      #blog,
      #login,
      #register,
      #error-404,
      #home,
      #license,
      #services
    ) {
    .p-dock,
    .popover-toggle {
      display: none !important;
    }
  }

  &:has(#login, #register) {
    main > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
      padding: 1em;
    }
  }
}

* {
  box-sizing: border-box;
  font-family: $font-nunito-sans-serif;
}
